body {
    padding: 50px;
}
.hexagon-list {
    margin-bottom: 35px;
}
.hexagon-list:nth-child(even) {
    padding-left: 55px;
}
.hexagon {
    transition: background-color 0.5s ease;
    width: 100px;
    height: 50px;
    background-color: #17b49f;
    position: relative;
    float: left;
    margin-right: 10px;
    line-height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.hexagon:hover {
    background-color: #149d8b;
}
.hexagon:hover:before {
    border-bottom-color: #149d8b;
}
.hexagon:hover:after {
    border-top-color: #149d8b;
}
.hexagon:before, .hexagon:after {
    position: absolute;
    content: "";
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    left: 0;
    right: 0;
}
.hexagon:before {
    margin-bottom: -1px;
    transition: border-bottom-color 0.5s ease;
    bottom: 100%;
    border-bottom: 25px solid #17b49f;
}
.hexagon:after {
    margin-top: -1px;
    transition: border-top-color 0.5s ease;
    top: 100%;
    border-top: 25px solid #17b49f;
}
.hexagon-inner {
    transition: background-color 0.5s ease;
    width: 100px;
    height: 50px;
    background-color: white;
    position: relative;
    float: left;
    margin-right: 10px;
    line-height: 50px;
    color: #17b49f;
    text-align: center;
    cursor: pointer;
    transform: scale(0.95);
    z-index: 100;
}
.hexagon-inner:hover {
    background-color: #149d8b;
}
.hexagon-inner:hover:before {
    border-bottom-color: #149d8b;
}
.hexagon-inner:hover:after {
    border-top-color: #149d8b;
}
.hexagon-inner:before, .hexagon-inner:after {
    position: absolute;
    content: "";
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    left: 0;
    right: 0;
}
.hexagon-inner:before {
    margin-bottom: -1px;
    transition: border-bottom-color 0.5s ease;
    bottom: 100%;
    border-bottom: 25px solid white;
}
.hexagon-inner:after {
    margin-top: -1px;
    transition: border-top-color 0.5s ease;
    top: 100%;
    border-top: 25px solid white;
}
